<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Registration</h1>
    <form method="POST" action = "/register">
        <label for="name">Name:</label><br>
        <input type="text" name = "name"><br>
        <label for="pasword">Password:</label><br>
        <input type="password" name="password"><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email"><br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

  </body>

</html>