name: Tests

on: [push]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Tests
        run: |
          python -m pytest -v --disable-pytest-warnings tests/
        env:
          PYTHONPATH: "/home/runner/work/scraper/"
      - name: Black
        run: |
          python -m black --check --diff --target-version=py37 .
          